body {
	background-image:url('background2.png');
	background-repeat:no-repeat;
	margin:10px;
header{
	font-size:20px;
	text-align:left;
	color:white;
}
main{
	margin-left::120px;
}
.box{
	display:block;
	float:left;
	width:20%;
	padding:10px;
	padding:left;
	}
img{
	width:100%;
	border-radius:5px;
	
}
img:hover{
	transform:scale(2,2);
	transition:.3s transform;
	
}
a{
	color:white;
}
