 *{margin:0px;padding:0px;border:1px solid ;}
	          #studyzone{
	               height:auto;
	               width:auto;
	               background-color:#99CCFF;
	              /* background-image:url('images/purple.jpg');
	               background-repeat:no-repeat;
	               background-position:center;*/
	               font-size:large;
	               font-style:normal;
	               margin:20px;
	               padding:20px;
	               text-decoration:blink;
	               color:black;
	               	
	  }  
	         